In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  port="3306",
  database="pythondb"
)

In [3]:
mycursor = mydb.cursor()

In [4]:
sql="INSERT INTO books VALUES({},'{}','{}',{})".format(123,"C Programming","Dr B P Sharma",450)

In [5]:
sql

"INSERT INTO books VALUES(123,'C Programming','Dr B P Sharma',450)"

In [6]:
mycursor.execute(sql)

In [8]:
mydb.commit()

In [9]:
sql="INSERT INTO books VALUES({},'{}','{}',{})".format(124,"Java Programming","Rakesh Kumar",550)

In [10]:
mycursor.execute(sql)

In [11]:
mydb.commit()

In [17]:
# View all records
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM books")
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(123, 'Advance C Programming', 'Dr B P Sharma', 450.0)

In [15]:
# View all records
mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM books WHERE bookno=123")
myresult = mycursor.fetchone()
print(myresult)

(123, 'Advance C Programming', 'Dr B P Sharma', 450.0)

In [14]:

mycursor = mydb.cursor()
sql="UPDATE books SET title='{}' WHERE bookno=123".format("Advance C Programming")
mycursor.execute(sql)
mydb.commit()

In [16]:

mycursor = mydb.cursor()
sql="DELETE FROM books WHERE bookno=124"
mycursor.execute(sql)
mydb.commit()